
h1 {
    font-family: 'Cinzel', serif;
    font-size: 3em;  
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

img {
    width: 300px;
    height: 450px;
    margin: 10px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

img:hover {
    -webkit-transition: scale(1.1);
   -moz-transition: scale(1.1);
     -o-transition: scale(1.1);
        transition: scale(1.1);
}